<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Antenatal</title>
    <script src="../../bower_components/jquery-1.9.1/index.js" type="text/javascript" defer="defer"></script>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" defer="defer"></link>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" defer="defer"></script>
  </head>
  <body>
    <h1 class="text-center">Create your referral</h1>
    <div class="container">
    <p class="text-center">
        Explanation of this page...
    </p>
        <form id="form0" method="post">
            <div class="form-group">
                <label for="doc_name">Name of Doctor:</label>
                <input type="text" name="doc_name" class="form-control" value=""/>
            </div>
            <div class="form-group">
                <label for="practice_name">Practice Name:</label>
                <input type="text" name="practice_name" class="form-control" value=""/>
            </div>
            <div class="form-group">
                <label for="referral_date">Referral Date:</label>
                <input type="text" name="referral_date" class="form-control" value=""/>
            </div>
            <div class="form-group">
                <label for="provider_num">Provider Number:</label>
                <input type="text" name="provider_num" class="form-control" value=""/>
            </div>
            <div class="form-group">
                <label for="preferred_care">Preferred Model of Care:</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="preferred_care" value="gp">GP Own</input>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="preferred_care" value="private">Private</input>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="preferred_care" value="public">Public</input>
                    </label>
                    <span class="hidden"></span>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="preferred_care" value="midwife_group">Midwife group practice</input>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="preferred_care" value="midwife_community">Community midwifery program</input>
                    </label>
                </div>
            </div>
            <button id="submit_screen0" type="button" onclick="pdf()" class="btn btn-primary pull-right">Next</button>
        </form>
    </div>
  </body>
  <script>
      var electron = require('electron');
      var fs = require('fs');
      var contents = electron.remote.getCurrentWebContents();

      // save the current page to a pdf
      var pdf = function() {
          contents.printToPDF({}, function (err, data) {
              fs.writeFile('screen0.pdf', data)
          })
      }
  </script>
</html>
